@font-face {
    font-family: 'DM Serif Displa';
    src: url(./../fonts/dmserif/DMSerifDisplay-Regular.ttf);
}

@font-face {
    font-family: 'Public Sans';
    src: url(./../fonts/public/PublicSans-Regular.ttf);
}